/*.........Styles for body..........*/
body {
    padding-top: 3rem;
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    position: relative !important;
  }
  
  /*................Styles for Navbar........*/

  .navbar{
    background-color: white;
    font-size: 18px;
  }
  .navbar-toggler{
    border: none !important;
    font-size:larger;
  }
  .navbar-toggler:focus
  {
    box-shadow:none;
  }
  .active{
    color: #D62335  !important;
    text-decoration: underline;
  }
  @media (max-width: 992px) {
    .navbar li{
    border-bottom: 1px solid lightgray;
    }
  }
  /*................Styles for Carousel........*/

  .carousel {
    margin-bottom: 2rem;
  }
  @media (max-width: 420px) {
    .img1{
      content:url("/images/mistyHomebanner/roommobile1.jpg");
    }
    .img2{
      content:url("/images/mistyHomebanner/honeymoonmobile1.jpg");
    }
    .img3{
      content:url("/images/mistyHomebanner/beermobile1.jpg");
    }
  }
  .carousel-caption .btn-primary{
    border-radius: 10px;
    border: none;
    transition: 0.5s;
  }
  .carousel-caption .btn-primary:hover{
    transform: translatey(-5px);
  }
  .nextPrevIcon{
    font-size: 40px;
    color: lightblue;
  }

  /*................Style for Accordian........*/

  .accordion-button
  {
    font-weight: bold;
    font-size: large;
  }
  .accordion-button:focus{
     box-shadow: none;
  }
  .accordion-button:not(.collapsed) {
    color: black  !important;
    background-color: lightgray !important;
  }
  .accordion-body{
    background-image: url("/images/logo/gallerybgdark.jpg");
  }
  .accordion-body img{
    border: 2px solid white;
  }
  .modal-footer .btn{
    border-radius: 10px;
    border: none;
    margin-right: 15px;
  }
  @media (min-width: 992px) {
    .cstmodalimage{
     height: 500px;
    }  
 }

  /*------Feature--------*/

  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  #icon-grid{
    background-image: linear-gradient(to left bottom, #e78686, #d4869e, #b989ab, #9e8cac, #8b8da2, #8b8da2, #8b8da2, #8b8da2, #9e8cac, #b989ab, #d4869e, #e78686);
    color: black;
  }
  #icon-grid p{
    font-size: 18px;
    color: rgb(244, 244, 244);
  }

  /*------About Us--------*/

  .aboutus{
    background-color: rgb(236,196,36);
    padding: 10px;
    padding-bottom: 50px;
  }
  .aboutus p{
    font-size: 18px;
  }
  .aboutus img{
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
   /*------Google Map--------*/

  .map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
  .location{
    border: 10px solid lightgrey;
    padding: 0px;
    border-radius: 10px;
  }
  
  /*------Contact Us--------*/

  .contactus{
    border-radius: 10px;
  }
  .name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #D92A3D;
  }
  .mobile{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
    color: #D92A3D;
  }
   /* ------- Footer-------*/

   .footer{
    background-image: linear-gradient(to left bottom, #e78686, #d4869e, #b989ab, #9e8cac, #8b8da2, #8b8da2, #8b8da2, #8b8da2, #9e8cac, #b989ab, #d4869e, #e78686);
    color: white;
    margin-top: 30px; 
  }
  
